
Pilot 1/CloudServerPHP/doc/latex/refman.log
Pilot 1/CloudServerPHP/doc/latex/refman.idx
Pilot 1/CloudServerPHP/doc/latex/refman.aux
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-24-53-545.rawproto
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-24-53-545.json
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-24-29-276.rawproto
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-24-29-276.json
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-23-35-682.rawproto
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-23-35-682.json
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-21-12-959.rawproto
Pilot 1/Android/Test/rmoved/build/android-profile/profile-2020-01-27-22-21-12-959.json
Pilot 1/Android/Test/rmoved/.idea/workspace.xml
Pilot 1/Android/Test/rmoved/.idea/runConfigurations.xml
Pilot 1/Android/Test/rmoved/.idea/modules.xml
Pilot 1/Android/Test/rmoved/.idea/misc.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/org_hamcrest_hamcrest_library_1_3_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/org_hamcrest_hamcrest_integration_1_3_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/org_hamcrest_hamcrest_core_1_3_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/net_sf_kxml_kxml2_2_3_0_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/junit_junit_4_12_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/javax_inject_javax_inject_1_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_squareup_javawriter_2_1_1_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_google_code_findbugs_jsr305_2_0_1_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_transition_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_test_runner_1_0_1.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_test_rules_1_0_1.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_test_espresso_espresso_idling_resource_3_0_1.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_test_espresso_espresso_core_3_0_1.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_vector_drawable_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_v4_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_media_compat_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_fragment_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_core_utils_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_core_ui_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_compat_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_support_annotations_26_1_0_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_recyclerview_v7_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_design_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_constraint_constraint_layout_1_0_2.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_appcompat_v7_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/com_android_support_animated_vector_drawable_26_1_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/android_arch_lifecycle_runtime_1_0_0.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/android_arch_lifecycle_common_1_0_0_jar.xml
Pilot 1/Android/Test/rmoved/.idea/libraries/android_arch_core_common_1_0_0_jar.xml
Pilot 1/Android/Test/rmoved/.idea/gradle.xml
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-17-54-515.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-17-54-515.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-17-15-971.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-17-15-971.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-13-48-734.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-13-48-734.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-13-40-254.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2020-01-27-22-13-40-254.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-09-27-13-40-35-107.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-09-27-13-40-35-107.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-09-27-13-37-52-773.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-09-27-13-37-52-773.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-09-27-13-37-32-913.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-09-27-13-37-32-913.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-26-13-00-26-899.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-26-13-00-26-899.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-26-13-00-20-699.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-26-13-00-20-699.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-11-16-36-44-612.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-11-16-36-44-612.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-11-16-36-42-067.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-07-11-16-36-42-067.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-06-17-17-00-18-901.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-06-17-17-00-18-901.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-06-17-17-00-07-438.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2019-06-17-17-00-07-438.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-12-15-08-05-644.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-12-15-08-05-644.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-12-15-08-01-766.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-12-15-08-01-766.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-14-50-53-999.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-14-50-53-999.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-14-50-51-349.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-14-50-51-349.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-12-05-45-657.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-12-05-45-657.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-12-05-38-919.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-09-12-05-38-919.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-08-15-48-12-353.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-08-15-48-12-353.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-08-15-48-04-369.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-11-08-15-48-04-369.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-30-15-29-32-209.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-30-15-29-32-209.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-30-15-29-16-003.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-30-15-29-16-003.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-30-15-28-52-438.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-30-15-28-52-438.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-29-11-55-10-362.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-29-11-55-10-362.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-29-11-55-02-404.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-29-11-55-02-404.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-59-38-949.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-59-38-949.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-58-26-652.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-58-26-652.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-46-57-143.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-46-57-143.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-44-33-542.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-44-33-542.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-40-36-518.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-17-40-36-518.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-42-24-631.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-42-24-631.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-42-17-009.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-42-17-009.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-41-25-007.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-41-25-007.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-07-48-944.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-07-48-944.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-05-54-091.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-05-54-091.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-00-47-922.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-00-47-922.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-00-16-625.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-13-00-16-625.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-58-47-180.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-58-47-180.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-51-36-826.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-51-36-826.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-48-23-877.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-48-23-877.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-37-19-363.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-37-19-363.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-33-38-820.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-33-38-820.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-33-17-852.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-33-17-852.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-26-19-930.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-26-19-930.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-13-57-043.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-13-57-043.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-12-31-482.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-12-31-482.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-09-52-284.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-09-52-284.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-08-42-569.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-08-42-569.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-08-31-647.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-08-31-647.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-08-02-879.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-08-02-879.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-06-16-202.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-12-06-16-202.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-56-24-390.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-56-24-390.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-55-33-094.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-55-33-094.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-55-13-695.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-55-13-695.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-53-20-318.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-53-20-318.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-51-00-697.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-51-00-697.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-47-47-696.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-47-47-696.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-40-59-870.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-40-59-870.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-39-44-351.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-39-44-351.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-34-21-392.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-34-21-392.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-32-06-218.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-32-06-218.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-22-02-732.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-22-02-732.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-21-18-202.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-21-18-202.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-17-36-313.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-17-36-313.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-15-00-227.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-15-00-227.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-12-54-185.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-12-54-185.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-12-46-717.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-26-11-12-46-717.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-50-20-068.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-50-20-068.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-49-04-836.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-49-04-836.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-48-22-431.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-48-22-431.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-46-37-594.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-46-37-594.json
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-45-22-145.rawproto
Pilot 1/Android/Test/build_remove/android-profile/profile-2018-10-25-17-45-22-145.json
Pilot 1/Android/Test/app/src/main/res/layout/list.xml
Pilot 1/Android/Test/app/src/main/java/uk/mdx/success/test/emotional_test.java
Pilot 1/Android/Test/app/src/main/java/uk/mdx/success/outcome/outcomesList.java
Pilot 1/Android/Test/app/src/main/java/uk/mdx/success/outcome/outcomeAdapter.java
Pilot 1/Android/Test/app/src/main/java/uk/mdx/success/outcome/Outcome.java
Pilot 1/Android/Test/app/src/main/java/uk/mdx/success/Connection.java
Pilot 1/Android/Test/app/src/main/java/uk/mdx/success/activity/LoginActivity.java
Pilot 1/Android/Test/.idea/vcs.xml
Pilot 1/Android/Test/.idea/misc.xml
Pilot 1/CloudServerPHP/doc/latex/refman.toc
Pilot 1/CloudServerPHP/doc/latex/refman.out
